<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1"
       name="Sauce demo"
       parallel="classes">

    <test name="Поток 1">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="lesson5.tests.LoginTest"/>
            <class name="lesson5.tests.BaseTest"/>
            <parameter name="password" value="password"></parameter>
            <parameter name="email" value="test@mailinator.com"></parameter>
        </classes>
    </test>

    <test name="Поток 2">
        <classes>
            <class name="lesson5.tests.LoginTest"/>
        </classes>
    </test>
</suite>
